# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\НИО прочности\B_Kamenetskiy\digit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
